.header
    &__row
        position: relative
        display: flex
        justify-content: flex-end
    &__content
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 670px
    &__title
        margin: 0
        font-family: "Playfair Display", serif
        font-weight: normal
        font-size: 72px
    &__text
        margin: 0
        font-size: 22px
        line-height: 1.5
    &__text p
        margin: 20px 0 60px 0
