.info-section
    padding: 68px 0
    position: relative
    background: url("./../img/info-blocks/bg-1.jpg")
    background-size: cover
    background-position: center
    &-two
        background: url("./../img/info-blocks/bg-2.jpg")
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        
        background-color: #000000
        opacity: 0.75
    &__row
        z-index: 1
        position: relative
        display: flex
        justify-content: space-between
        flex-direction: row
    &__title
        margin: 0
        font-family: "Playfair Display", serif
        color: #FFFFFF
        font-size: 52px
        font-weight: normal

/* For mobile */
@media (max-width: 992px)
    .info-section
        padding: 34px 0
        text-align: center
        &__title
            font-size: 32px
            margin-bottom: 20px
        &__row
            flex-direction: column
            align-items: center